
.carrusel{
    height: 600px;
}

/*Barra de navegación*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navegacion{
    width: 100%;
    margin: 1px auto;
    background: #333;
    max-width: 100%;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    text-align: center;
    
}
.menu li a:hover{
    color:blueviolet;
    transition: all .5s;
}
nav > ul li a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/*Iconos de la barra de menu*/ 
nav > ul > li > a span{
    background: #fff;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
      
} 
nav > ul > li > a span i{
    display: block;
    line-height: 50px;
    padding-top: 16px;
}
nav > ul > li > a:hover > span{
    top:0;
}
/*seccion de los sub_menus*/

.sub_menu{
    position: absolute;
    background: #353535;
    width: 100%;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.9s;
}
.sub_menu li a{
    display: block;
    padding:15px 10px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    text-align: center;
}
.menu li:hover .sub_menu{
    visibility:visible;
    opacity: 1;
}
li{
    list-style: none;
}
.contacto {
    
    float: right;
}
/*Fin de la barra*/

/* --------------------------------------------------------------------------------------- */

/* Gri */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.sinEspacio{
    margin: 0;
}

header{
    width: 100%;
}

.logo{
    width: 80px;
    margin: 0 60px;
}


nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

div.cajaLogo{
    display: inline-block;
}

.menuNavegacion{
    width: 100%;
    padding: 5px;
    margin: 0;
    background: #fff;
    max-width: 100%;
    background-color: #333;
}
.menuNavegacion ul{
    list-style: none;
}
.barraMenu{
    display: inline-block;
}

.barraMenu > li{
    position: relative;
    display: inline-block;
}
.barraMenu > li > a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
}
.barraMenu li a:hover{
    color:blueviolet;
    transition: all .5s;
}
nav.menuNavegacion > ul li a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/*Iconos de la barra de menu*/
nav.menuNavegacion > ul > li > a span{
    background: #353535;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
      
} 
nav.menuNavegacion > ul > li > a span i{
    display: block;
    line-height: 50px;
    padding-top: 16px;
    color: #353535;
}
nav.menuNavegacion > ul > li > a:hover > span{
    top: -25%;
}

nav.menuNavegacion > ul > li > a:hover > span i{
    color:blueviolet;
    padding-bottom: 500px; 
}
.barraMenu li{
    list-style: none;
}

/* footer */

hr{
    margin-top: 5px;
    background-color: #808080;
}

footer{
    margin-top: 20px;
    background-color: #353535;
    color: #fff;
}

footer img{
    margin: 30px 0 10px 0;
    width: 130px;
}

footer span{
    color: red;
}

footer .textofooter{
    margin-bottom: 60px;
}

footer h2{
    margin: 40px 0 0 0;
}

footer .menuFooter a{
    color: #dadada;
    font-weight: bold;
    font-size: 1.1em; 
}


footer a{
    color: #dadada;
    font-size: 1.1em;
}


footer .menuFooter{
    display: block; 
    margin: 5px 0;
}

footer .redesFooter{
    display: inline-block;
    margin: 0 8px;
    font-size: 25px;
}

footer a:hover{
    text-decoration: none;
    color: #fff;
}
/* Desafios */
section{
  text-align : justify;
  margin: 5% 8% 3% 8%;
}
section img{
    width: 55%;
    margin: 2% 5% 2% 20%;
}
/*----------------Sheyla Catalogo -------------------*/

.containerCatalogo{
    position: relative;
    top: 20px;
    width: 90%;
    height: auto;
    margin: auto;
    background: none;
}

.containerCatalogo .list-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.containerCatalogo .list-image li{
    margin-right: 60px;
    margin-bottom: 20px; /*los espacio entre las img*/
    list-style: none;  /* quita los puntos que traen las imágenes por defecto */
}

.containerCatalogo .list-image li .container__image{    /* ver más */
    position: relative;
    width: 300px;
    height: 190px;
    background: white;
    border-radius: 3px;
    

}

.containerCatalogo .list-image li .container__image img{
    position: relative;
    width: 300px;
    height: 150px;   
    border-top-left-radius: 3px;/*el redondeo de las esquinas de las img*/
    border-top-right-radius: 3px;
}

.containerCatalogo .list-image li .container__image .information__image{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
}

.containerCatalogo .list-image li .container__image .information__image .name__image{
    font-family: "Arial";
    font-size: 16px;
    margin-left: 8px;
}
    
.containerCatalogo .list-image li .container__image .information__image .view__moreinfo {
    position: absolute;
    right: 5px;
    display: block;
    padding: auto;
    height: 20px;
    width: auto;
    text-decoration: none;
    color: #BEC0C4;
    font-family: "Arial";
    font-size: 14px;
    border-radius: 90px;
    border: 2px solid #BEC0C4;
}

/* Desafíos */

.enlaceDerecha{
    text-align: right;
}

.tituloDesafios{
    text-align: center;
    margin: 50px;
    font-size: 2.8em;
}

.imgCentralDesafio{
    width: 1000px;
}

.imgDesafios{
    width: 500px;
}

.cajaDesafio{
    margin: 80px 0;
}

.contenedorDesafios{
    display: inline-block;
}

.posicionamientoCentro{/*Esto se encarga de centrar los objetos dentro de los contenedores*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contáctanos */

.cajaFormulario input, .cajaFormulario textarea{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
}

.cajaFormulario label{
    margin: 13px 0;
}

.cajaFormulario .btn{
    margin: 20px 0;
}